---
---

.button-transparent {
    margin: auto;
    font-size: 14px;
    padding: 5px;
    background: white;
    color: #BBD900;
    border: solid 1px #BBD900;
    border-radius: 15px;
}

.header {
    @media (max-width: 1200px) {
        display: none;
    }
    background: url('/assets/palakalihome.png') no-repeat;
    height: 564px;
    background-position: right;
    ul {
        list-style: none;
        border-left: solid 2px #47A942;
        margin-left: 30px;
        padding-left: 30px;
        li {
            padding: 15px 0;
        }

        transform: translateY(100px);
    }
}

.about {
    padding: 25px 110px;
    padding-top: 0px;
    display: flex;
    img {
        margin-right: 60px;
        transform: translateY(100px);
    }
    .content {
        display: flex;
        flex-direction: column;

        justify-content: center;
    }

    @media (max-width: 1200px) {
        img {
            margin: 30px auto;
            width: 200px;
            transform: none;
        }
        flex-direction: column;
        padding: 10vw;
    }
}

.program {
    height: 416px;
    background-color: #BBD900;
    text-align: center;
    padding: 76px;
    .content {
        display: flex;
        justify-content: space-evenly;
        .item {
            p {
                width: 300px;
            }
        }
    }


    @media (max-width: 1200px) {
        height: max-content;
        .content {
            flex-direction: column;
        }
    }
}

.border {
    content: "";
    height: 85px;
    background: url('/assets/palakaliborder.png');
    background-size: cover;
}

a {
    color: black !important;
}

.navbar-mobile {
	@media (min-width: 1200px) {
		display: none;
	}
	display: flex;
	img {
		height: 60px;
	}
	border-bottom: solid 1px #c4c4c4;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
	.menu {
		i {
			font-size: 30px;
		}
	}
}

.timeline {
    text-align: center;
    padding: 60px;
    .line {
        width: calc(50% + 23px);
        transform: translateY(12px);
        margin: auto;
        height: 1px;
        background: black;
    }
    .content {
        display: flex;
        justify-content: space-evenly; 
        .item {
            .point {
                z-index: 99;
                margin: auto;
                background: #47A942;
                height: 24px;
                width: 24px;
                border-radius: 50%;
                &::before {
                    content: "";
                    height: 100px;
                    background: black;
                    width: 100px;
                }
            }
            h3 {
                margin-top: 60px;
            }
            .subtitle {
                font-size: 14px;
            }
            text-align: center;
        }
    }
    @media (max-width: 1200px) {
        padding: 15px;
    }
}

.gallery {
    text-align: center;
    .title {
        background: #BBD900;
        padding: 15px;
    }
    .foto {
        padding: 60px;
        .images {
            margin-bottom: 30px;
            display: flex;
            justify-content: space-evenly;
            @media (max-width: 768px) {
            flex-direction: column;
            }
            .image {
            @media (max-width: 768px) {
                margin: 30px auto;
            }
                width: 150px;
                height: 150px;
                background: #c4c4c4;
            }

            &.last {
                .image {
                    background: linear-gradient(0deg, #FFFFFF 41.25%, rgba(255, 255, 255, 0) 100%), #c4c4c4;
                }
            }
        }
    }
}

footer {
    background: #823628;
    color: white;
    text-align: center;
    padding: 10px;
}

.area {
    border: solid 6px #BBD900;
    padding: 40px;
    text-align: center;
    .content {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        ul {
            text-align: start;
            list-style: none;
        }

        @media (max-width: 1200px) {
            flex-direction: column;
        }
    }
    .address {
        border-bottom: solid 1px #BBD900;
        width: fit-content;
        margin: auto;
    }
}

.button-more {
    border: none;
    color: white;
    background: #BBD900;
    font-size: 18px;
    padding: 5px;
    border-radius: 15px;
    margin-bottom: 60px;
    width: 60px;
}