---
layout: default
---

<div class="about">
    <div class="container content">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <p class="container">aung Palakali creative ART community adalah sebuah tempat berkegiatan kreatif, khususnya yang berhubungan dengan
        kesenirupaan.Sebuah wadah berkesenian yang mengajak masyarakat luas bisa mengeksplorasi dan mengapresiasi seni
        secara lebih mendalam. Budaya lokal dan konsep ramah lingkungan, menjadi pijakan dasar dalam konsep mengolah
        kreatifitas berkesenian. Proses Kreatif dalam berkarya, lebih ditekankan</p>

</div>