---
layout: default
---

<div class="home">
    <div class="hero">
        <h1 class="title is-1">
            Sebuah ruang kreatif untuk mengapresiasi karya seni 
        </h1>
        <img src="/assets/Icon.png" alt="">
    </div>

    <div class="container content">
        <p>
        Saung Palakali creative ART community adalah sebuah tempat berkegiatan kreatif, khususnya yang berhubungan dengan kesenirupaan. Sebuah wadah berkesenian yang mengajak masyarakat luas bisa mengeksplorasi dan mengapresiasi seni secara lebih mendalam. Budaya lokal dan konsep ramah lingkungan, menjadi pijakan dasar dalam konsep mengolah kreatifitas berkesenian. PROSES KREATIF dalam berkarya, lebih ditekankan.
        </p>
        <div class="images">
            <div class="column">
                <img src="/assets/gambar1.png" alt="">
                <img src="/assets/gambar3.png" alt="">
            </div>
            <div class="column">
                <img src="/assets/gambar2.png" alt="">
                <img src="/assets/gambar4.png" alt="">

            </div>
        </div>
    </div>
</div>
