---
layout: section
---

<div id="event">
    <h3 class="title is-4">Event</h3>
    <div class="events">
        <div class="event">
            <div class="image">

            </div>
            <div class="content">
                <div class="name">
                    Liburan Kreatif
                </div>
                <div class="periode">
                    23 - 25 Desember 2019
                </div>
                <div class="location">
                    Saung Palakali Creative Space, Tanah Baru, Beji, Depok
                </div>
                <div class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices dictum pellentesque arcu, posuere
                    volutpat, vel, ac sit arcu. Porta et ac commodo at. Proin congue enim tristique scelerisque pharetra
                    enim. Massa ullamcorper vitae elementum nulla risus varius habitant tellus venenatis. Luctus
                    faucibus et
                    ultrices pellentesque eget scelerisque pellentesque. Leo arcu duis elit velit, ac.
                </div>
            </div>
        </div>
    </div>
</div>