---
layout: section
---

<div id="event">
    <h3 class="title is-4">Event</h3>
    <div class="events">
        {% for event in site.data.event.events %}
        <div class="event">
            <div class="image">
                {{ event.image }}
            </div>
            <div class="content">
                <div class="name">
                    {{ event.title }}
                </div>
                <div class="periode">
                    {{ event.periode }}
                </div>
                <div class="location">
                    {{ event.location }}
                </div>
                <div class="description">
                    {{ event.description }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>