---
layout: section
---

<div id="gallery">
    <h3 class="title is-4">Gallery</h3>
    <div class="image-section">
        <div>
            <img src="/assets/Area.png" alt="">
        </div>
        <div class="images">
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
        </div>
    </div>
    <div class="image-section">
        <div>
            <img src="/assets/Studio.png" alt="">
        </div>
        <div class="images">
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
        </div>
    </div>
    <div class="image-section">
        <div>
            <img src="/assets/Kelas.png" alt="">
        </div>
        <div class="images">
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
        </div>
    </div>


</div>