---
layout: section
---

<div id="profile">
    <h3 class="title is-4">Profil</h3>
    <div class="quote">
        <div>
            <img src="/assets/quotepalakali.png" alt="">
        </div>
        <p>
            SENI, mengundang anak-anak untuk menyentuh dan melakukan eksperimen, mengeksplorasi dan mentransformasi SENI
            memungkinkan anak-anak memvisualisasi, membuat hal-hal yang tak dapat diraba menjadi konkret SENI, adalah
            ruang
            imaji, ruang kebebasan berekspresi, dalam seni kita bisa belajar berani, menghargai, percaya diri, disiplin,
            empati, kerja sama dan kreatif SENI, bisa menumbuhkan individu yang lebih bertanggung jawab, lebih
            imajinatif,
            responsif dan terampil.
        </p>
    </div>
    <div class="description">
        <div>
            <img src="/assets/pro.png" alt="">
        </div>
        <p>
            Kebutuhan akan alternatif-alternatif ruang kreatif yang mempunyai keunikan, sangatlah dibutuhkan, di tengah
            kepungan tempat dan fasilitas yang serba instan. Diperlukan alternatif ruang tempat berkumpul, berdiskusi
            dan melakukan kegiatan-kegiatan kreatif sehingga ada ruang merdeka berkarya bagi anak-anak sampai dewasa,
            yang diharapkan akan membawa manfaat positif bagi individu maupun masyarakat yang lebih luas. Berawal dari
            sinilah, PALAKALI CREATIVE (saung palakali creative ART community) hadir.
        </p>
    </div>

    <div class="line"></div>

    <div class="visi">
        <div>
            <img src="/assets/Visi.png" alt="">
        </div>
        <p>Sebuah ruang kreatif yang menekankan proses kreatif dalam berkarya seni dan desain, berbasis budaya dan
            konsep ramah lingkungan. Menjadi bagian pelaku industri kreatif dunia, juga membentuk individu yang lebih
            solutif, responsif, fleksibel, cerdas dan terampil di bidangnya masing-masing</p>
    </div>

    <div class="misi">
        <div>
            <img src="/assets/Misi.png" alt="">
        </div>

        <p>
            <ol>
                <li> Memberikan pendidikan artistik dan membentuk pola berfikir kreatif pada setiap individu </li>
                <li> Memproduksi
                    barang seni dengan memanfaatkan limbah produksi/lingkungan</li>
                <li> Menjadi ruang terbuka untuk berkesenian,
                    bersifat open komunitas danan membuka kerjasama dengan komunitas lain</li>
                <li> Memberikan edukasi tentang
                    keberagaman media dan bahan dalam berkarya</li>
                <li> Mendekatkan edukasi budaya dan ramah lingkungan dalam konsep
                    berkarya seni (art, design, culture)
                </li>
            </ol>
        </p>
    </div>

    <div class="tim">
        <div>
            <img src="/assets/Tim.png" alt="">
        </div>
        <div class="peoples">
            <div class="people-card">
                <div class="image">

                </div>
                <div class="people-title">
                    Founder
                </div>
                <div class="people-name">
                    <strong>
                        Lorem Ipsum
                    </strong>
                </div>
                <div class="people-desc">
                    Direktur Kreatif Alumnus Disain Komunikasi Visual ISI Yogyakarta S2 Seni Urban dan industri budaya
                    Institut Kesenian Jakarta
                </div>
            </div>

            <div class="people-card">
                <div class="image">

                </div>
                <div class="people-title">
                    Founder
                </div>
                <div class="people-name">
                    <strong>
                        Lorem Ipsum
                    </strong>
                </div>
                <div class="people-desc">
                    Direktur Kreatif Alumnus Disain Komunikasi Visual ISI Yogyakarta S2 Seni Urban dan industri budaya
                    Institut Kesenian Jakarta
                </div>
            </div>
 
        </div>
    </div>
</div>