---
layout: section
---

<div id="profile">
    <h3 class="title is-4">Profil</h3>
    <div class="quote">
        <div>
            <img src="/assets/quotepalakali.png" alt="">
        </div>
        <p>
            {{site.data.profile.quote | markdownify}}
        </p>
    </div>
    <div class="description">
        <div>
            <img src="/assets/pakaliprofile.png" alt="">
        </div>
        <p>
            {{site.data.profile.description | markdownify}}
        </p>
    </div>

    <div class="line"></div>

    <div class="visi">
        <div>
            <img src="/assets/Visi.png" alt="">
        </div>
        <p>
            {{site.data.profile.visi | markdownify}}
        </p>
    </div>

    <div class="misi">
        <div>
            <img src="/assets/Misi.png" alt="">
        </div>

        <p>
            {{site.data.profile.misi | markdownify}}
        </p>
    </div>

    <div class="tim">
        <div>
            <img src="/assets/Tim.png" alt="">
        </div>
        <div class="peoples">
            {% for people in site.data.profile.founders %}
            <div class="people-card">
                <div class="image">
                    <img src="{{people.image}}" alt="">
                </div>
                <div class="people-title">
                    {{people.role}}
                </div>
                <div class="people-name">
                    <strong>
                        {{people.name}}
                    </strong>
                </div>
                <div class="people-desc">
                    {{ people.description | markdownify}}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>